@model IEnumerable<MovieDAL.Movie>

@{ 
    ViewBag.Title = "Alle filmer";
}
<h1>@(ViewBag.Genre ?? "Alle filmer")</h1>
    
<ul>
    @foreach (var movie in Model)
    {
        <li>
            @Html.ActionLink(movie.Title, "Details", new { id= movie.MovieId })
        </li>
    }
</ul>