<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IMDb - @ViewBag.Title</title>
    <link href="~/Content/index.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <footer>
        Copyright &copy; 2018 meg selv!
    </footer>
</body>
</html>
