body {
    background: linear-gradient(180deg, lightblue 0%, transparent 100%) no-repeat;
    background-size: 100% 100px;
    font-family: sans-serif;
}

li{
    border: 5px solid black;
}

li+li {
    border-top: none;
}

li:nth-child(n + 2){
    background-color: yellow;
}
