
@{
    ViewBag.Title = "LogOn";
}

<h1>Logg inn</h1>

<form method="post">
    Brukernavn: <input type="text" name="username"/>
    <br />
    Passord: <input type="password" name="password" />
    <br />
    <button>Logg på</button>
</form>

